<app-form (moviesEmitFromInput)="moviesReceiveFromInput($event)"></app-form>

<section [ngClass]="{ displayNone: arrayFromInput == null }">
  <div class="container">
    <app-input-result
      *ngFor="let movieFromInput of arrayFromInput"
      [movieFromInput]="movieFromInput"
    ></app-input-result>
  </div>
</section>

<h2>Les films populaire du moments</h2>
<div class="container">
  <app-popular
    *ngFor="let popular of popularMovies"
    [movie]="popular"
  ></app-popular>
</div>

<h2>Prochainement dans les salles</h2>

<div class="container">
  <app-upcoming *ngFor="let coming of upcoming" [movie]="coming"></app-upcoming>
</div>

<h2>Les films les mieux notés</h2>

<div class="container">
  <app-toprated *ngFor="let playing of top" [movie]="playing"></app-toprated>
</div>
