<span *ngIf="array.length < 1"
  >Vous n'avez pas encore choisi de films favoris</span
>
<span *ngIf="array.length > 1">Mes films favoris</span>
<div class="container" *ngFor="let item of array">
  <img
    src="https://image.tmdb.org/t/p/w500/{{ item.backdrop_path }}"
    alt="{{ item.original_title }}"
    [ngClass]="(isInStorage(item.title) || isInStorage(item.id)) ? 'fa-star-true' : 'fa-none'"

  />
  <i
    class="fa-solid fa-star"
    (click)="remToFav(item.title); remToFav(item.id)"
    [ngClass]="(isInStorage(item.title) || isInStorage(item.id)) ? 'fa-star-true' : 'fa-none'"

  ></i>
</div>
<!-- [ngClass]="(isInStorage(item.title) || isInStorageById(item.id)) ? 'fa-star-true' : 'fa-none'"

[ngClass]="(isInStorage(item.title) || isInStorageById(item.id)) ? 'fa-star-true' : 'fa-none'" -->
