.container {
  display: flex;
}

.fa-solid{
  cursor: pointer;
}
.fa-star-true {
  color: #de4f32;
}

.fa-none {
  display: none;
}
.fa-star {
  transition: 0.4s;
  position: relative;
  left: -50px;
  top: 250px;
  background: transparent;
}