* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-size: 25px;
}

img {
  cursor: pointer;
}


.fa-star {
  transition: 0.4s;
  position: relative;
  left: -50px;
  top: -20px;
  background: transparent;
}